.progressBarContainer {
  width: 100%;
  height: 24px;
  background-color: #ebf2fa;
  border-radius: 4px;
  overflow: hidden;
}

.progressBarFilled {
  height: 100%;
  background-color: #58bc82;
  border-radius: 4px 0 0 4px;
}
